@use 'variables';

.mensagem {
    padding: 80px 0;

    &__detalhe {
        &__titulo {
            margin-bottom: 24px;

            .escondido {
                font-size: 10px;
            }
        }
    }

    &--foto1 {
        background-image: linear-gradient(variables.$color1, variables.$color2);
    }

    &--foto3 {
        background-image: linear-gradient(variables.$color2, variables.$color4);
    }

    &--imagem-esquerda {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }
}