@use 'variables';

.mensagem {
    padding: 80px 0;

    &--foto1 {
        background-image: linear-gradient(variables.$color1, variables.$color2);
    }

    &--foto2 {
        background-image: linear-gradient(variables.$color2, variables.$color3);
    }

    &--foto3 {
        background-image: linear-gradient(variables.$color3, variables.$color4);
    }

    &--imagem-esquerda {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__imagem {
        max-width: 420px;
    }
}