@use 'hero';
@use 'variables';
@use 'mensagem';
@use './components/carousel';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: variables.$textColor;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

.imagem {
    max-width: 420px;
    width: 100%;
}